{% extends 'html/base.html' %}

{% block content %}

<main class='container py-5'>
    <section class="card card-body">
    
        <h1 class="display-1 text-center">Deskcontrol</h1>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam molestiae provident veritatis cum nobis aliquid officiis eveniet ullam quasi repudiandae, iure unde iste, suscipit sint tempore quaerat deleniti alias rem.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam molestiae provident veritatis cum nobis aliquid officiis eveniet ullam quasi repudiandae, iure unde iste, suscipit sint tempore quaerat deleniti alias rem.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam molestiae provident veritatis cum nobis aliquid officiis eveniet ullam quasi repudiandae, iure unde iste, suscipit sint tempore quaerat deleniti alias rem.
        </p>

        <div class="text-center">
            <a class="btn btn-primary" href="signin/"> Sign In </a>
            <a class="btn btn-secondary" href="signup/"> Sign Up </a>
        </div>
    
    </section>
    
</main>
{% endblock %}